<h1>Home</h1>
<p>
  This is the home page for the
  <a href="http://orionvm.com.au/">OrionVm</a>
  dashboard application.
</p>
<table>
  <tr>
    <td>Service</td>
    <td><%= Time.now.strftime("%d/%m/%Y") %></td>
    <td><%= (Time.now - 1.days).strftime("%d/%m/%Y") %></td>
    <td><%= (Time.now - 2.days).strftime("%d/%m/%Y") %></td>
    <td><%= (Time.now - 3.days).strftime("%d/%m/%Y") %></td>
    <td><%= (Time.now - 4.days).strftime("%d/%m/%Y") %></td>
    <td><%= (Time.now - 5.days).strftime("%d/%m/%Y") %></td>
  </tr>
</table>
<ul>
  <li>Icon Ledgend here</li>
</ul>
